body{
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
header nav{
    display: flex;
    gap: 50vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 242, 242);
}
nav>p{

    font-weight: bold;

}
nav div{
    font-size: 13px;
    display: flex;
    gap: 50px;
}
.hero-section{
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}
.hero-txt{
    width: 40%;
}
.hero-txt h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
.hero-txt p{
    font-size: 14px;
    font-weight: 400;
}
.hero-txt button{
    border: none;
    padding: 15px 30px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    background-color: black;
    cursor: pointer;


}
button:hover{
    border: 2px solid black;
    color: black;
    background-color: white;
}
.img-hold{
    width: 500px;
    height: 500px;

    object-fit: contain;
    border-radius: 1000px;
}
img{
    border-radius: 1000px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and  (max-width: 480px){
   header nav{
        gap: 5vw;
        justify-content: space-around;
    }
    nav div{
        gap: 25px;
    }
    .hero-section{
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
    }
    .hero-txt{
        width: 100%;
    }
    .hero-txt h1{

        font-size: 30px;
    }
    .img-hold{
        height: 300px;
        width: 300px;
    }
}
